/* backdrop */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  left: 0;
}
/* backdrop */

.side-drawer {
  height: 100%;
  background: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  /* max-width: 400px; */
  z-index: 9999;
  transform: translateX(-105%);
  transition: transform 0.3s ease-out;
  font-family: "made-tomy-sof-regular";
}
.side-drawer.open {
  transform: translateX(0%);
}
.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px !important;
}

.side-drawer li {
  margin: 0.5rem 1.8rem;
}

.side-drawer a {
  color: #000;
  text-decoration: none;
  font-size: .95rem;
}
.side-drawer a:hover,
.side-drawer a:active {
  color: #ff3552;
}
.list-sidedraw {
  position: relative;
}
.list-sidedraw .box-flecha {
  position: absolute;
  right: 5%;
  top: 8%;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-sidedraw .box-flecha figure {
  margin: 0;
  margin-left: 2rem;
}

.is-activeHomeMobile {
  color: #ff3552 !important;
}

.list-sidedraw a:hover {
  text-decoration: none;
  font-weight: 500;
  color: #ff3552;
}
.select-perfil {
  position: absolute;
  background: #fff;
  /* left: 25%; */
  top: 23rem;
  width: 100%;
}
.select-perfil li {
  line-height: 0.8rem !important;
  margin: 0.7rem 0.7rem;
}

.sub-Item {
  margin-left: 4rem;
  color: #7dc7c5 !important;
  font-size: 0.85rem !important;
}
.box-links-mobile {
  text-align: center;
  margin-top: 1rem;
  /* border-top: 1px solid #000; */
}

.box-links-mobile a svg{
   color: #7487FC;
   margin-right: 8px;
}

.linea-mobile{
    border-top: 1px solid #7487FC;
    margin-right: 15px;
    margin-left: 10px;
}

@media (min-width: 768px) {
  .side-drawer {
    display: none;
  }
}
