.logo-ganga {
  width: 9rem;
}

.navbar {
  padding: 1rem 3rem !important;
}

/* Buscador */
.search-container {
  width: 35rem;
  display: flex;
  margin: 0 auto;
}
input.search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
  border-radius: 0.25rem 0rem 0rem 0.25rem !important;
}
input.search-bar:focus {
  border: 1px solid #c6c6c6;
  transition: 0.4s ease;
  color: #0f0e0e;
}

input.search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

/* Firefox < 19 */
input.search-bar:focus:-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

/* Firefox > 19 */
input.search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

/* Internet Explorer 10 */
input.search-bar:focus:-ms-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  color: #f31454 !important;
  background-color: #e9e9e9 !important;
  border: 1px solid #c6c6c6 !important;
  line-height: 1.5;
  border-radius: 0rem 0.25rem 0.25rem 0rem !important;
  transition: color 0.15s;
  float: right !important;
  width: 45px !important;
  height: 45px !important;
}
.search-icon:hover {
  color: #e9e9e9 !important;
  background-color: #f31454 !important;
  border: 1px solid #f31454 !important;
}

.btn-like-menu {
  margin-left: 0.6rem;
  margin-right: 0.8rem;
  font-size: 1.4rem;
}

.btn-like-user {
  font-size: 1.4rem;
}
.btn-like-menu:hover,
.btn-like-menu:focus {
  color: #f31454;
  cursor: pointer;
}

.btn-like-user:hover,
.btn-like-user:focus {
  color: #f31454;
  cursor: pointer;
}


.navbar-brand{
  margin-right: 0rem!important;
}


.foo img:last-child {
  display: none
}

.foo:hover img:first-child {
  display: none
}

.foo:hover img:last-child {
  display: inline-block
}

.navbar a .heart {
  background-image: url("../../images/menu-icons/heart.svg");
  background-size: contain;
  width: 2rem;
  height: 1.9rem;
  background-repeat: no-repeat;
  
}
.heartOn .heart{
  background-image: url("../../images/menu-icons/heart-on.svg")!important;
  background-size: contain;
  width: 2.2rem;
  height: 2.2rem;
  background-repeat: no-repeat;
}


.navbar a{
  color: #A0A0A0;
  width: 1.8rem!important;
  height: auto;
}
.navbar .menu-on {
  color: #f31454!important ;
  /* background-color: #f31454; */
}


@media (max-width: 769px) {

  .navbar {
    padding: 1rem 2rem !important;
  }

  .search-container{
    display: none;
  }

  .btn-like-menu{
    display: none;
  }

  .logo-ganga{
    width: 7rem;
  }

  .card-category {
    width: 4rem!important;
    height: 4rem!important;
    margin: .5rem!important;
  }
  .box-filter h5{
    text-align: start!important;
  }
  .box-marcas{
    justify-content: start!important;
    padding: 0rem!important;
  }
  .box-marcas label{
    margin: 0rem!important;
  }

}