.bg-error{
    position: relative;
    height:100vh;
    width: auto;
}

.img-bg-error{
    background-image: url(../../images/pagina-error.png);
    width: 100%;
    background-size: cover;
    height: 100%;
    position: relative;
    background-position: center center;
}

.img-error{
    position: absolute;
    bottom: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
}

@media (max-width: 769px) {
    .img-error{
        width: 70%;
    }
}