.box-img-item {
  background: #f0f0f0;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-ropa {
  border: 1px solid #FF8629 !important;
}
.border-deporte {
  border: 1px solid #FF003B !important;
}
.border-tecnologia {
  border: 1px solid #A74FFF !important;
}
.border-calzado {
  border: 1px solid #A74FFF !important;
}
.border-hogar {
  border: 1px solid #2FC33A !important;
}
.border-juguete {
  border: 1px solid #FF3552 !important;
}
.border-electroHogar {
  border: 1px solid #3890E3 !important;
}
.border-belleza {
  border: 1px solid #FF8DD1 !important;
}
.border-nuevo {
  border: 1px solid #FFF6CD !important;
}
.border-escolarOficina {
  border: 1px solid #7E4FFF !important;
}



.box-img-item img {
  width: 50%;
  margin: auto;
  padding: 2rem 0rem;
  display: block;
}

.title-item {
  font-family: "made-tomy-sof-regular";
  font-size: 0.8rem;
  margin-bottom: 0.2rem !important;
  color: #000;
}
.subtitle-item {
  font-family: "made-tomy-sof-regular";
  font-size: 0.7rem;
  color: #08131f;
}

.tag-offer {
  border: 1px solid red;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  color: red;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  font-size: 0.7rem;
}

.group-btn-like {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1rem;
}

.btn-share {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.btn-like {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #8c8c8c;
}

.btn-like:hover,
.btn-like:focus {
  color: #f31454;
  cursor: pointer;
}

.group-time-item {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.item-chronometer {
  color: #08131f;
  font-weight: 600;
}
.item-carousel div {
  max-width: 100% !important;
}
