.title-especific {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}
.subtitle-especific {
  text-transform: capitalize;
  text-align: left;
}

.box-details {
  display: flex;
  justify-content: center;
}

.box-details-especific {
  width: 50%;
  padding: 1rem;
}
.group-time {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.img-clock{
  color: #f31454;
}
.description-especific {
  padding: 0.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-family: "made-tomy-sof-regular";
}

.figure-product-especific {
  width: 50%;
  padding: 1rem;
  position: relative;
}

.grup-btn-especific {
  position: absolute;
  bottom: -.5rem;
  right: 1.5rem;
  display: flex;
}

.btn-cirle-especific{
  background-color: #F5F5F5;
  padding: .7rem .9rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.btn-share-especific,
.btn-like-especific {
  font-size: 1.5rem;
  color: #BFBFBF;
}

.btn-share-especific:hover,
.btn-like-especific:hover,
.btn-share-especific:focus,
.btn-like-especific:focus {
  color: #f31454;
  cursor: pointer;
}

.btn-ir-web{
  font-family: "made-tomy-sof-regular";
  background-color: #7487FC!important ;
  font-weight: 800!important;
  letter-spacing: .05rem;
  padding: .5rem 2.2rem!important;
}
.btn-ir-web:hover, .btn-ir-web:focus{
  cursor: pointer;
  background-color: #5a68c7!important
}

.title-producto-similar {
  margin-bottom: 40px;
}
.box-tag-offer-especific{
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 0.4rem .5rem;
}

.marca-especific{
  position: absolute;
  top: 10%;
  right: 5%;
  width: 20%;
  /* background-color: #fff; */
  
}

@media (max-width: 769px) {
.box-details{
  flex-direction: column;
}
.figure-product-especific{
  width: 100%;
  padding: .5rem;
}
.box-details-especific{
  width: 100%;
  padding: .5rem;
}

.margin-box{
  padding: 0rem;

}

.description-especific{
  font-size: 1rem;
}

.group-time {
  font-size: 1rem;
}

.title-producto-similar{
  font-size: 1.5rem;
}
.title-especific{
  font-size: 1.3rem!important;
}

}