@font-face {
    font-family: "made-tomy-sof-regular";
    src: url(fonts/MADE\ TOMMY\ SOFT\ REGULAR\ PERSONAL\ USE.OTF);
  }

  .font-made-tomy-sof-regular{
    font-family: "made-tomy-sof-regular";
  }

  .title-ganga {
    font-family: "made-tomy-sof-regular";
    font-size: 1.8rem;
    font-weight: 700;
  }

  .subtitle-ganga{
    font-family: "made-tomy-sof-regular";
    font-size: 1rem;
    font-weight: 600;
  }