.box-mujer-interest{
    height: 60vh;
    position: relative;
}

.mujer-interest{
    position: absolute ;
    bottom: -3.5%;
    left: 50%;
    transform: translateX(-50%);

}

.subtitle-interest{
    color: #f31454;
    padding-top: 3rem;
}


@media (max-width: 769px) {
    .box-mujer-interest{
        height: 70vh;
    }

    .mujer-interest{
       width: 100%;
        bottom: 0%;
    
    }
  }

